<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>swimv2WEB</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrazioneServlet</display-name>
    <servlet-name>RegistrazioneServlet</servlet-name>
    <servlet-class>it.swimv2.servlet.RegistrazioneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrazioneServlet</servlet-name>
    <url-pattern>/Registrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RichiestaAmiciziaServlet</display-name>
    <servlet-name>RichiestaAmiciziaServlet</servlet-name>
    <servlet-class>it.swimv2.servlet.RichiestaAmiciziaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RichiestaAmiciziaServlet</servlet-name>
    <url-pattern>/RichiestaAmicizia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccettaAmiciziaServlet</display-name>
    <servlet-name>AccettaAmiciziaServlet</servlet-name>
    <servlet-class>it.swimv2.servlet.AccettaAmiciziaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccettaAmiciziaServlet</servlet-name>
    <url-pattern>/AccettaAmicizia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>it.swimv2.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccettaRichiestaAbilitaServlet</display-name>
    <servlet-name>AccettaRichiestaAbilitaServlet</servlet-name>
    <servlet-class>it.swimv2.servlet.AccettaRichiestaAbilitaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccettaRichiestaAbilitaServlet</servlet-name>
    <url-pattern>/AccettaRichiestaAbilita</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InviaRichiestaAbilitaServlet</display-name>
    <servlet-name>InviaRichiestaAbilitaServlet</servlet-name>
    <servlet-class>it.swimv2.servlet.InviaRichiestaAbilitaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InviaRichiestaAbilitaServlet</servlet-name>
    <url-pattern>/InviaRichiestaAbilita</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProprieDomandeServlet</display-name>
    <servlet-name>ProprieDomandeServlet</servlet-name>
    <servlet-class>it.swimv2.servlet.ProprieDomandeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProprieDomandeServlet</servlet-name>
    <url-pattern>/ProprieDomande</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreaDomandaServlet</display-name>
    <servlet-name>CreaDomandaServlet</servlet-name>
    <servlet-class>it.swimv2.servlet.CreaDomandaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaDomandaServlet</servlet-name>
    <url-pattern>/CreaDomanda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RilasciaFeedbackServlet</display-name>
    <servlet-name>RilasciaFeedbackServlet</servlet-name>
    <servlet-class>it.swimv2.servlet.RilasciaFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RilasciaFeedbackServlet</servlet-name>
    <url-pattern>/RilasciaFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RispondiADomandaServlet</display-name>
    <servlet-name>RispondiADomandaServlet</servlet-name>
    <servlet-class>it.swimv2.servlet.RispondiADomandaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RispondiADomandaServlet</servlet-name>
    <url-pattern>/RispondiADomanda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RicercaDomandeRisposteServlet</display-name>
    <servlet-name>RicercaDomandeRisposteServlet</servlet-name>
    <servlet-class>it.swimv2.servlet.RicercaDomandeRisposteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaDomandeRisposteServlet</servlet-name>
    <url-pattern>/RicercaDomandeRisposte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApriConversazioneServlet</display-name>
    <servlet-name>ApriConversazioneServlet</servlet-name>
    <servlet-class>it.swimv2.servlet.ApriConversazioneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApriConversazioneServlet</servlet-name>
    <url-pattern>/ApriConversazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RicercaUtenteServlet</display-name>
    <servlet-name>RicercaUtenteServlet</servlet-name>
    <servlet-class>it.swimv2.servlet.RicercaUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaUtenteServlet</servlet-name>
    <url-pattern>/RicercaUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>it.swimv2.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TutteLeAbilitaServlet</display-name>
    <servlet-name>TutteLeAbilitaServlet</servlet-name>
    <servlet-class>it.swimv2.servlet.TutteLeAbilitaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TutteLeAbilitaServlet</servlet-name>
    <url-pattern>/TutteLeAbilita</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RifiutaRichiestaAbilitaServlet</display-name>
    <servlet-name>RifiutaRichiestaAbilitaServlet</servlet-name>
    <servlet-class>it.swimv2.servlet.RifiutaRichiestaAbilitaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RifiutaRichiestaAbilitaServlet</servlet-name>
    <url-pattern>/RifiutaRichiestaAbilita</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormRegistrazioneServlet</display-name>
    <servlet-name>FormRegistrazioneServlet</servlet-name>
    <servlet-class>it.swimv2.servlet.FormRegistrazioneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormRegistrazioneServlet</servlet-name>
    <url-pattern>/FormRegistrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancellaAbilitaServlet</display-name>
    <servlet-name>CancellaAbilitaServlet</servlet-name>
    <servlet-class>it.swimv2.servlet.CancellaAbilitaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancellaAbilitaServlet</servlet-name>
    <url-pattern>/CancellaAbilita</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualizzaRichiesteAbilitaServlet</display-name>
    <servlet-name>VisualizzaRichiesteAbilitaServlet</servlet-name>
    <servlet-class>it.swimv2.servlet.VisualizzaRichiesteAbilitaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualizzaRichiesteAbilitaServlet</servlet-name>
    <url-pattern>/VisualizzaRichiesteAbilita</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SuggerimentiServlet</display-name>
    <servlet-name>SuggerimentiServlet</servlet-name>
    <servlet-class>it.swimv2.servlet.SuggerimentiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuggerimentiServlet</servlet-name>
    <url-pattern>/Suggerimenti</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RichiestaAmiciziaDaSuggerimentoServlet</display-name>
    <servlet-name>RichiestaAmiciziaDaSuggerimentoServlet</servlet-name>
    <servlet-class>it.swimv2.servlet.RichiestaAmiciziaDaSuggerimentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RichiestaAmiciziaDaSuggerimentoServlet</servlet-name>
    <url-pattern>/RichiestaAmiciziaDaSuggerimento</url-pattern>
  </servlet-mapping>
</web-app>
